<!DOCTYPE html>
<html>
  <head>
    <h1>Welcome to Ride Share!</h1>

<div class="manage_passengers">
    <%= link_to "Manage Passengers", passengers_path %>
</div>
<div class="manage_drivers">
    <%= link_to "Manage Drivers", drivers_path %>
</div>
<%= yield %>
  </body>
</html>

